<h2>Timescythe: An Herbalists Planner</h2>
<article class="about">
  This is a collection of contemporary and esoteric resources.
  In the pipeline is a biodyamic calendar and personal conjunctions
  calculator. </br>
  Traditional agricultural remedies from Medieval European, Indigenous American,
  and Daoist resources will be outlined here.
</br>
</br>
Users can create and print personal planting calendars aligned
with lunar cycles. 
</br>
</br>
Free database of astrological-herbal associations as used by Phytophysis.
</br>
</br>
Free database of herbal remedies as created by Phytophysis.
</article>
